/* setup */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--color-title: #e53170;
	--color-bg-article: #0f0e17;
	--color-mail: #62a2a5;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.pull-left{
    float: left;
}

body{
    margin: 0 auto;
    font-size: 16px;
    max-width: 1200px;
}

/* header */

header{
    text-align: center;
}

h1{
    color: var(--color-title);
    margin: 25px 0 50px 0;
}

/* main */